body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(0, 9, 59, 0.1), rgba(117, 19, 93, 0.2)), url('../assets/space-background-2.gif');
}

@keyframes explosionanim {
    from {
        background-image: url("../assets/animations/explosion/frame1.png");
    }

    20%{
        background-image: url("../assets/animations/explosion/frame2.png");
    }

    40%{
        background-image: url("../assets/animations/explosion/frame3.png");
    }

    60%{
        background-image: url("../assets/animations/explosion/frame4.png");
    }

    to{
        background-image: url("../assets/animations/explosion/frame5.png");
    }
}

.explosion {
    animation-name: explosionanim;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

@keyframes enemiesanim {
    from {
        background-image: url("../assets/animations/enemies/frame_0000_frame1.png");
    }

    20%{
        background-image: url("../assets/animations/enemies/frame_0001_frame2.png");
    }

    40%{
        background-image: url("../assets/animations/enemies/frame_0002_frame3.png");
    }

    60%{
        background-image: url("../assets/animations/enemies/frame_0003_frame4.png");
    }

    to{
        background-image: url("../assets/animations/enemies/frame_0004_frame5.png");
    }
}

@keyframes shootanim {
    from {
        background-image: url("../assets/animations/shoot/shoot_0000_frame1.png");
    }

    12% {
        background-image: url("../assets/animations/shoot/shoot_0001_frame2.png");
    }

    24% {
        background-image: url("../assets/animations/shoot/shoot_0002_frame3.png");
    }

    36% {
        background-image: url("../assets/animations/shoot/shoot_0003_frame4.png");
    }

    48% {
        background-image: url("../assets/animations/shoot/shoot_0004_frame5.png");
    }

    60%{
        background-image: url("../assets/animations/shoot/shoot_0005_frame6.png");
    }

    72%{
        background-image: url("../assets/animations/shoot/shoot_0006_frame7.png");
    }
    
    to{
        background-image: url("../assets/animations/shoot/shoot_0007_frame8.png") ;
    }
}

@keyframes shipanim {
    from {
        background-image: url("../assets/animations/ship/ship_0000_frame.png");
    }

    10% {
        background-image: url("../assets/animations/ship/ship_0001_frame.png");
    }

    20% {
        background-image: url("../assets/animations/ship/ship_0002_frame.png");
    }

    30% {
        background-image: url("../assets/animations/ship/ship_0003_frame.png");
    }

    40% {
        background-image: url("../assets/animations/ship/ship_0004_frame.png");
    }

    50%{
        background-image: url("../assets/animations/ship/ship_0005_frame.png");
    }

    60%{
        background-image: url("../assets/animations/ship/ship_0006_frame.png");
    }

    70%{
        background-image: url("../assets/animations/ship/ship_0007_frame.png");
    }

    80%{
        background-image: url("../assets/animations/ship/ship_0008_frame.png");
    }

    90%{
        background-image: url("../assets/animations/ship/ship_0009_frame.png");
    }
    
    to{
        background-image: url("../assets/animations/ship/ship_0001_frame.png") ;
    }
}
.alien {
    animation-name: enemiesanim;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

.laser {
    animation-name: shootanim;
    animation-duration: 100ms;
    animation-iteration-count: infinite;
}

.tireur {
    rotate: 180deg;
    animation-name: shipanim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-size: contain;
}