@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url(options.css);
@import url(scoreboard.css);
@import url(credits.css);
body{
    font-family: 'VT323', monospace;
    position: relative;
}

#grille {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    animation: background-defile 5s linear infinite;
    justify-content: center;
    align-items: center;
    border: 1px solid #efd639;
    box-shadow:   -4px 0 0 0 #efd639,    
                 4px 0 0 0 #efd639,
                 0 -4px 0 0 #efd639,
                 0 4px 0 0 #efd639,

                 0 4px 0 0 #efd639,
                 0 4px 0 0 #efd639
}

#pop-up{
    display: none;
    flex-wrap: wrap;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    
    background-color: rgba(17, 0, 56, 0.555);
    box-shadow:   -4px 0 0 0 #efd639,    
                 4px 0 0 0 #efd639,
                 0 -4px 0 0 #efd639,
                 0 4px 0 0 #efd639,
                 
                 0 4px 0 0 #efd639,
                 0 4px 0 0 #efd639,
                 10px 0 0 0 #9a5b1c,
                 0px 10px 0 0 #9a5b1c,
                 5px 10px 0 0 #9a5b1c;
    z-index: 10;
        
}

#finalscore{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    
    color: aliceblue;
    font-size: 200%;
}
#pop-up #imgfinal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    opacity: 75%;
}
#restart{
    display: block;
    margin: 5% auto;
    font-size: 2.5em;
    padding: 10px;
    font-family: 'VT323', monospace;
    cursor: pointer;
}



@keyframes background-defile {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: 256px;
    }
}

h3 {
    text-align: center;
    margin: 20px 0;
}
h4{
    text-align: center;
    margin: 20px 0;
    visibility: hidden;
}
#grille div {
    width: 25px;
    height: 25px;
    border: 2px solid transparent;
}
.tireur {
    background: url(../assets/vaisseau.png);
    transform: rotate(180deg);
    background-position: center;
    background-size: contain;
   
}
.tireur {
    background: url(../assets/vaisseau.png);
    transform: rotate(180deg);
    background-position: center;
    background-size: contain;
   
}
.explosion {
    transform: rotate(180deg);
    background-position: center;
    background-size: contain;
    z-index: 9;
}
.alien {
    background: url(../assets/ennemies.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.boom {
    background-color: red;
}
.laser {
   background-repeat: no-repeat;
   background-position: center;
}

.game-buttons ul{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    font-size: 1em;
    padding: 0;
}
.game-buttons ul li{
    display: block;
    text-align: center;
}

.game-buttons{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#backMenu,#directRestart{
    background-color: #efd639;
    color: #1f122e;
    box-shadow:   -4px 0 0 0 #efd639,    
                 4px 0 0 0 #efd639,
                 0 -4px 0 0 #efd639,
                 0 4px 0 0 #efd639,

                 0 4px 0 0 #efd639,
                 0 4px 0 0 #efd639,
                 10px 0 0 0 #9a5b1c,
                 0px 10px 0 0 #9a5b1c,
                 5px 10px 0 0 #9a5b1c;
}

.info-game{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-game h3{
    font-family: 'Press Start 2P', cursive;
    color: white;
    outline: none;
    border: none;
    width: 200px;
    padding: 1em;
    box-shadow:   -3px 0 0 0 white,    
                 3px 0 0 0 white,
                 0 -3px 0 0 white,
                 0 3px 0 0 white;
    background: none;
}

#difficulty{
    margin-top: 50px;
    display: none;
    width: 75%;
}

#difficulty ul{
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#difficulty ul li {
    list-style-type: none;
}

#difficulty button{
    margin-top: 50px;
    background-color: #efd639;
    color: #1f122e;
    box-shadow:   -4px 0 0 0 #efd639,    
                 4px 0 0 0 #efd639,
                 0 -4px 0 0 #efd639,
                 0 4px 0 0 #efd639,

                 0 4px 0 0 #efd639,
                 0 4px 0 0 #efd639,
                 10px 0 0 0 #9a5b1c,
                 0px 10px 0 0 #9a5b1c,
                 5px 10px 0 0 #9a5b1c;
}

.togglebg{
    background-color: #efd639 !important;
    color: #1f122e !important;
    box-shadow:   -4px 0 0 0 #efd639,    
                 4px 0 0 0 #efd639,
                 0 -4px 0 0 #efd639,
                 0 4px 0 0 #efd639,

                 0 4px 0 0 #efd639,
                 0 4px 0 0 #efd639,
                 10px 0 0 0 #9a5b1c,
                 0px 10px 0 0 #9a5b1c,
                 5px 10px 0 0 #9a5b1c !important;
}