@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    font-family: 'VT323', monospace;
    position: relative;
}

#grille {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    animation: background-defile 5s linear infinite;
    justify-content: center;
    align-items: center;
}

#pop-up{
    display: none;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 450px;
    
    border-radius: 10px;
    background-color: rgba(78, 78, 78, 0.555);
    z-index: 10;
        
}

#pop-up p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    
    color: aliceblue;
    font-size: 200%;
}
#pop-up img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    opacity: 75%;
}
#pop-up button{
    width: 30%;
    border-radius: 10px;
    font-size: 200%;
    top: 50%;
    left: 50%;
    transform: translate(115%, -40%);
    font-family: 'VT323', monospace;
    cursor: pointer;
}

@keyframes background-defile {
    from {
        background-position-y: 0px;
    }
    to {
        background-position-y: 256px;
    }
}

h3 {
    text-align: center;
    margin: 20px 0;
}
h4{
    text-align: center;
    margin: 20px 0;
    visibility: hidden;
}
#grille div {
    width: 25px;
    height: 25px;
    border: 2px solid transparent;
}
.tireur {
    background: url(../assets/vaisseau.png);
    transform: rotate(180deg);
    background-position: center;
    background-size: contain;
   
}
.tireur {
    background: url(../assets/vaisseau.png);
    transform: rotate(180deg);
    background-position: center;
    background-size: contain;
   
}
.explosion {
    transform: rotate(180deg);
    background-position: center;
    background-size: contain;
}
.alien {
    background: url(../assets/ennemies.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.boom {
    background-color: red;
}
.laser {
   background-repeat: no-repeat;
   background-position: center;
}

